@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* default override on lists and link underlines  */

* {

    list-style-type: none;
    text-decoration: none;
}

/* all awesome icons on grey by default  */
.fas,
.fab,
.fa {
    color: #3f3f3f;
}

.rotate {
    transition: .3s;
}

/* body css */
body {
    margin: 0;
    padding: 0;
}

.body-bug {
    /* default override bg p and m fonts*/
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #EBEFF5;
}

.app {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

a {
    /* links colors */
    color: #2A2A2A;
}

h2 {
    color: #2A2A2A;
    font-weight: 100;
}

/* 
===========================================
NAV BAR TOP CSS 
===========================================
*/

nav * {
    /* all text aligned horizontally widthin element*/
    text-align: center;
}

/* nav > div controls container for navbar */

nav div {
    /* nav bar bg color */
    background: #FFFFFF;
    /* aligning flex sb(1 000 1 000 1) -c- */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*v sizing items will stay v centered*/
    height: 60px;
}

.logo-img {
    background: url(/assets/logos/delta.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    left: 0;
    top: 0;
    position: relative;
    margin-right: 10px;
}
/* BRAND side left */
.logo {
    /* font size 1.5x to bwrs default*/
    font-size: 1.1em;
    font-weight: 500;
}

/* SEARCH BAR input side middle */

nav input {
    /* input tag override */
    border: none;
    background: #EBEFF5;

    /* input tag sizing and border-r */
    height: 50%;
    width: 400px;
    border-radius: 10px;
    padding-right: 10px;
}

/* search bar icon search awesome font */
div.input i {
    /* search bar color */
    color: #ADB3BA;
    /* search bar position inside search bar */
    position: relative;
    left: +9%;
}

/* USER LINKS side right */

nav div ul {
    /*reoredered ul items to be v aligned and p-0 */
    display: flex;
    align-items: center;
    padding: 0;
}

nav div ul li {
    /*reoredered for notification */
    position: relative;
    cursor: pointer;
}

/* PROFILE PIC*/

.profile-nav {
    /* PROFILE PIC CHANGE THIS */
    background: linear-gradient(0deg, #40DCB1, #40DC80);
    color: #FFFFFF;
    /* border-r and clipping */
    border: solid 2px #EBEFF5;
    border-radius: 50%;
    /* aligning element superpossed*/
    display: inline-flex;
    /* aligning text and iside content */
    align-items: center;
    justify-content: center;
    /* sizing and m */
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

/* 
===========================================
NAV BAR TOP CSS  * UTILITIES
===========================================
*/

.margin-sides {
    /* DEF m */
    margin: 0 20px;
}

.vline {
    /* v line */
    height: 30px;
    width: 1px;
    background: #CBD2D8;
}

ul .notification {
    /* point right red circle on icon or li content */
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, 0);
    /* sizing and color b-radious*/
    height: 10px;
    background: linear-gradient(90deg, #FF4C70, #FF4C9D);

    padding: 0 3px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: .5em;

    font-weight: 400;
}

/* 
===========================================
CONTENT CSS 
===========================================
*/

/* devides the content panel into side nav and content-c */
.content {

    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
}

/* 
===========================================
SIDE NAV CSS 
===========================================
*/

.nav-side {
    /* bg color, top border-r and gap*/
    border-top-right-radius: 10px;
    margin-top: 30px;
    background: #FFFFFF;
    /* maximized side nav lenght h*/
    width: 250px;
    /* maximized side nav - top nav bar*/
    height: calc(100% - 30px);
    /* column btns with flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* COLORED GRADIENT ON SIDE NAV*/

.nav-side .us-position {
    /* positioning and side gaps h*/
    text-align: center;
    position: relative;
    transform: translate(0, -50%);
    width: 70%;
    height: 20px;
    /* color styling p c bg b-radious*/
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #17F299, #01E6E3);
    color: #FFFFFF;
    overflow: hidden;
}

/* Position Icon*/
.us-position * {
    /* bigger font by 1.1x and p-r*/
    color: #FFFFFF;
    font-size: 1.1em;
    padding-right: 5px;
}

/* OPT OR BTNS CONTAINER ON SIDE NAV*/
.opts {
    /* No gaps m p*/
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.opt {
    /* Change to b-box When height is too small*/
    box-sizing: content-box;
    /* Relative for red not div*/
    position: relative;
    /* Forces-green border hover to be outside*/
    width: 100%;
    display: flex;
}

.opt:hover {
    /* Btn Hover border and pointer*/
    cursor: pointer;
    border-right: solid 4px #17F299;
    transition: 0s;
}

.opt * {
    /* Default colors and p -trst .3s*/
    color: #464646;
    transition: .3s;
}

.opt .icon {
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opt a {
    justify-self: left;
    align-self: center;
    padding: 0 10px;
}

.opt:hover .icon {
    /* Default colors when hover*/
    color: #2A2A2A;
    transform: scale(1.3);
}

.opt:hover a,
.opt:hover i {
    color: #2A2A2A;
}

.selected i,
.selected a {
    /* Default colors when selected*/
    color: #2A2A2A;
}

/* 
===========================================
SIDE NAV BAR  CSS  * UTILITIES
===========================================
*/

.hline {
    /* v line */
    border-bottom: .9px solid #e6e6e6;
    width: 100%;
}

.opt a.notification {
    /* positioning on element absoluto to opt */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    /* styling for notification on side nav */
    font-size: .6em;
    color: #FFFFFF;
    background: linear-gradient(90deg, #FF4C70, #FF4C9D);
    padding: 0 5px;
    border-radius: 10px;
}

/* 
===========================================
SIDE NAV BAR  CSS  * MINIMIZED
===========================================
*/

.minimized .nav-side {
    /* when minimized side nav lenght h*/
    width: 60px;
}

.minimized .side-content {
    /* content width adjusted w*/
    width: calc(100% - 50px);
}

.minimized .sn-text {
    /* only icons so I hid the labels*/
    display: none;
}

.minimized a.notification {
    /* only icons so I hid the labels*/
    right: -10px;
}

.minimized .nav-side .us-position {
    /* color styling p c bg b-radious*/
    padding: 10px 2px;

}

.minimized .us-position * {
    /* bigger font by 1.1x and p-r*/
    padding-right: 0px;
}

/* 
===========================================
SIDE CONTENT  CSS
===========================================
*/

.side-content {
    position: relative;
    box-sizing: content-box;
    width: calc(100% - 250px);
    height: auto;
    overflow-y: scroll;
    padding: 0 30px;
}

.verified {
    position: absolute;
    align-self: center;
    height: 15px;
    width: 15px;
    top: 0;
    right: 0;
    transform: translate(+5px);
    background: url(/assets/verified.svg);
}
